<div class="md:max-w-3/5 m-auto">
    <mat-stepper linear #stepper>
        <mat-step [stepControl]="fileUploadForm"> 
            <ng-template matStepLabel>
                Wgraj dokument
            </ng-template>
                <app-file-upload [formGroup]="fileUploadForm">
                        
                </app-file-upload>
            <button mat-button matStepperNext type="button">Dalej</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                Prześlij
            </ng-template>
            <app-list>

            </app-list>
            <button mat-button matStepperPrevious type="button">Previous</button>
        </mat-step>
    </mat-stepper>
</div>


