.list {
    color: var(--one);
    display: flex;
    flex-direction: column;
    gap: .75em;
    border-radius: .15em;
    padding-right: 1em;
}

.button {
    font-weight:500;
    padding: .5em 0;
    background-color: var(--four);
    color: var(--one)
}

.scrollbar {
    overflow: scroll;
    scrollbar-color: var(--three) var(--two);
    max-height: max(43vh, 140px);
}

.empty-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.empty-text {
    align-self: center;
    color: var(--four);
}
