@use '@angular/material' as mat;
@use './_theme-colors.scss' as app-theme;
@use 'sass:map';

html {
    @include mat.theme((
        color: (
            primary: app-theme.$primary-palette,
            tertiary: app-theme.$tertiary-palette,
            ),
        density: 0,
    ))
}

:root {
    @include mat.card-overrides((
        elevated-container-color: map.get(app-theme.$secondary-palette, 50)
    ));
    @include mat.toolbar-overrides((
        container-background-color: map.get(app-theme.$tertiary-palette, 50),
        container-text-color: map.get(app-theme.$secondary-palette, 20),
    ));
}

.list-field {
    @include mat.form-field-overrides((
        container-vertical-padding: 0,
        container-height: 1.75em,
    ))
}

.list-field-readonly {
    @include mat.form-field-overrides((
        container-vertical-padding: 0,
        container-height: 1.75em,
        filled-container-color: map.get(app-theme.$secondary-palette, 40)
    ))
}

.delete-btn {
    @include mat.fab-overrides((
        small-container-color: map.get(app-theme.$error-palette, 40)
    ));
  }
  