<div class="
flex flex-col gap-2 overflow-y-scroll">
    <form [formGroup]="form!">
        @for(control of form!.controls | keyvalue; track $index; let i = $index) {
            @if(control.value | isFormControl) {    
                <div class="flex">
                    <span class="basis-1/2">{{control.key}}</span>
                    <input 
                    class="basis-1/2"
                    [formControl]="(control.value | asFormControl)"
                    [readonly]="canEdit()">
                </div>
            }
            @if(control.value | isFormGroup) {
                @let group = (control.value) | asFormGroup;
                <div class="flex flex-col">
                    <div class="flex">
                        <span class="basis-1/2">{{control.key}}</span>
                        <span 
                        class="basis-1/2"
                        (click)="toggleGroup(control.key)">Wyświetl szczegóły</span>
                    </div>
                    <app-form-details
                    [controlKey]="control.key"
                    [visible]="detailsOpen()">
                        <div ngProjectAs="details">
                            <form [formGroup]="group | asFormGroup">
                                <div class="flex flex-col">
                                @for(ctrl of group.controls | keyvalue; track $index) {
                                    <div class="flex">
                                        <span class="basis-1/2 pl-8">{{ctrl.key}}</span>
                                        <input 
                                        class="basis-1/2"
                                        [formControl]="(ctrl.value | asFormControl)">
                                    </div>
                                }
                                </div>
                            </form>
                        </div>
                    </app-form-details>
                </div>
            }
            @if(control.value | isFormArray) {
                <div class="flex flex-col">
                    @let array = (control.value) | asFormArray;
                    <div class="flex">
                        <span class="basis-1/2">{{control.key}}</span>
                        <span 
                        class="basis-1/2"
                        (click)="toggleArray(control.key)">Wyświetl szczegóły</span>
                    </div>
                    <app-form-details
                    [controlKey]="control.key"
                    [visible]="detailsOpen()">
                        <div ngProjectAs="details">
                            <form>
                                <div class="flex flex-col gap-2">
                                @for(group of array.controls; track $index) {
                                    <form [formGroup]="(group | asFormGroup)">
                                        <div>
                                        @for(ctrl of (group | asFormGroup).controls | keyvalue; track $index) {
                                            <div class="flex">
                                                <span class="basis-1/2 pl-8">{{ctrl.key}}</span>
                                                <input 
                                                class="basis-1/2"
                                                [formControl]="(ctrl.value | asFormControl)"
                                                [readonly]="canEdit()">
                                            </div>
                                        }
                                        </div>
                                    </form>
                                }
                                </div>
                            </form>
                        </div>
                    </app-form-details>
                </div>
            }
        }
    </form>
</div>
