<div class="max-w-[100%] lg:max-w-3/5 m-auto">
    <mat-stepper linear #stepper (selectionChange)="onStepperSelectionChange($event)">
        <mat-step [stepControl]="fileUploadForm">
            <ng-template matStepLabel>
                <span>Wgraj dokument</span>
            </ng-template>
            <ng-template matStepContent>
                <app-file-upload 
                [errorMsg]="stepErrorMsg()"
                [maxSizeNumber]="5"
                [allowedTypes]="['image/jpeg', 'image/png']"
                [formGroup]="fileUploadForm"
                (formData)="uploadFile($event)"> 
                </app-file-upload>
            </ng-template>
        </mat-step>
        <mat-step [stepControl]="documentUploadForm">
            <ng-template matStepLabel>
                <span >Prześlij</span>
            </ng-template>
            <ng-template matStepContent>
                <app-document-menu
                (requestRegenerate)="regenerateDocument()"
                (requestUpload)="saveDocument($event)"
                [isToggledDetails]="isToggledDetails()"
                (isToggledDetailsChange)="onToggledDetailsChange($event)"
                [document]="document()">
                </app-document-menu>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <span>Gotowe</span>
            </ng-template>
            <ng-template matStepContent>
                <app-ready-card
                (requestNavigate)="onRequestNavigate($event)">
                </app-ready-card>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>


