textarea {
    font-family: 'Roboto';
    background-color: var(--one);
    padding: 0;
    border: 0;
    color: var(--neutral);
    font-size: inherit;
    resize: none;
}

textarea:focus {
    outline: none;
}

textarea:not(:read-only):focus {
    color: var(--four);

}

