<mat-card class="p-4 gap-8">
    <mat-card-header class="flex flex-col">
        <p class="font-semibold text-lg text-[var(--mat-sys-on-tertiary-fixed-variant)]">Dokument zeskanowany pomyślnie !</p>
        <span class="text-[var(--mat-sys-on-surface)]">Co chcesz zrobić dalej?</span>
    </mat-card-header>
    <mat-card-footer 
    class="
    md:flex-row
    flex flex-col gap-4">
        <button 
        mat-fab extended
        (click)="goTo('skaner/skanuj', true)">
            <mat-icon>insert_drive_file</mat-icon>
            <span 
            class="
            text-sm">Zeskanuj kolejny</span>
        </button>
        <button 
        mat-fab extended
        (click)="goTo('dokumenty')">
            <mat-icon>view_list</mat-icon>
            <span
            class="
            text-sm">Przejdź do widoku dokumentów</span>
        </button>
    </mat-card-footer>
</mat-card>
