<div class="tabs">
    @for(link of tabs(); track $index) {
        <span
        (click)="link.enabled && handleTabClick($index)"
        [ngClass]="{
            'selected': link.selected,
            'enabled': link.enabled,
            'disabled': !link.enabled
            }"
        >{{link.name}}</span>
    }
</div>
@if(selectedLink() === 'Upload') {
    <app-upload-panel>
    </app-upload-panel>
}
@else {
    <app-list [items]="items()">
        Nie znaleziono paragonu do wyświetlenia
    </app-list> 
}
