<mat-card class="flex flex-col gap-2 p-2">
    <mat-card-content>
        <app-list 
        [isToggledDetails]="isToggledDetails()"
        [canEdit]="canEdit()"
        [document]="document()">
            
        </app-list>
    </mat-card-content>
    <mat-card-actions class="flex gap-2">
        <button 
        (click)="regenerate()"
        mat-flat-button>Regeneruj
        </button>
        <button 
        (click)="edit()"
        mat-flat-button>Edytuj
        </button>
        <button 
        (click)="save()"
        mat-flat-button>Zapisz
        </button>
    </mat-card-actions>
</mat-card>