.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin: 0 auto;
}

.title {
    color: var(--three)
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--two);
    padding: 1.25em;
    height: 50vh;
}



.button-panel {
    display: flex;
    gap: .75em;
}

