.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}
@media(min-width: 768px) {
    .wrapper {
        width: 45%;
    }
}

@media(max-width: 768px) {
    .wrapper {
        width: 90%;
    }
}

.title {
    color: var(--three)
}

.main {
    background-color: var(--two);
    padding: 1.25em;
}

.stepper-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button-panel {
    display: flex;
    gap: .75em;
}

@media(orientation: landscape) {
    .main {
        height: clamp(240px, 25vw, 800px);
    }
}

@media(orientation: portrait) {
    .main {
        height: clamp(360px, 40vw, 900px);
    }
}



