<div class="wrapper">
    <div class="header">
        @if(getItems().length != 0) {
            <h3 class="title">Paragon pomyślnie zeskanowany</h3>
            <span>Zapisz go albo skanuj od nowa</span>
        }
        @else {
            <h3 class="title">Wybiesz paragon do zeskanowania</h3>
            <span>Akceptowane formaty to .jpg / .png / .jpeg</span>
        }
    </div>
    <div class="main">
        <app-stepper>
            <app-tab 
                [label]="'one'" 
                [enabled]="true" 
                [selected]="true"
                >Upload
            </app-tab>
            <app-tab 
                [label]="'two'" 
                [enabled]="getItems().length !== 0" 
                [selected]="false"
                >Ready
            </app-tab>
            <ng-container #container></ng-container>
            <ng-template #one>
                    <app-upload-panel appFileUploadNextStep>
                        <div slot="input-placeholder">
                            <input type="file" class="file-upload" appFileInput appFileUploadNextStep #fileUpload>
                        </div>
                        <div slot='drag-drop-placeholder'>
                            Przenieś pliki tutaj
                        </div>
                        <span slot='select-file-placeholder' (click)="fileUpload.click()"> 
                            albo wybierz z dysku
                        </span>
                    </app-upload-panel>
            </ng-template>
            <ng-template #two>
                    <div class="stepper-content-wrapper">
                        <app-list [items]="getItems()" [canEdit]="canEdit()"></app-list>
                        <div class="button-panel">
                            <app-button>
                                Regeneruj
                            </app-button>
                            <app-button (click)="toggleEditMode()">
                                Edytuj
                            </app-button>
                            <app-button [bgc]="'three'">
                                Zapisz
                            </app-button>
                        </div>      
                    </div>
            </ng-template>
        </app-stepper>
    </div>
</div>