:host {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: clamp(1em, 1.5vw, 4em);
}

.tabs {
    display: flex;
    gap: .5em;
}

.content {
    flex-basis: 80%;
}

.stepper-content-wrapper {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5em;
}

.button-panel {
    display: flex;
    gap: .75em;
}

