.enabled { 
    cursor: pointer;
    color: var(--four);
}

.disabled {
    color: var(--one);
}

.selected {
    text-decoration: underline;
    text-decoration-color: var(--three);
    text-underline-offset: .3em;
    text-decoration-thickness: .2em;
}