:host {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: clamp(1em, 1.5vw, 4em);
}

.tabs {
    display: flex;
    gap: .5em;
}

.content {
    flex-basis: 80%;
}



