@if(cData() | isArray) {
    <form>
    @for(item of cData(); track $index; let idx = $index) {
        <div class="flex flex-col">
            @for(detail of item | keyvalue ; track $index) {
                <span class="flex">
                    <span>{{detail.key}}:</span>
                    <app-editable-field 
                    [key]="detail.key"
                    [value]="detail.value"
                    (valueChange)="updateData(idx, $event)"></app-editable-field>
                </span>
            }
        </div>

    }
    </form>
}
@else {
    <form>
        <div class="flex flex-col">
            @for(detail of cData() | keyvalue; track $index) {
                <span class="flex">
                    <span>{{detail.key}}: </span>
                    <app-editable-field 
                    [control]=""
                    [key]="detail.key"
                    [value]="detail.value" 
                    (valueChange)="updateData(null, $event)"></app-editable-field>
                </span>
            }
        </div>
    </form>
}