@if(cData() | isArray) {
    <form class="flex flex-col gap-8">
    @for(item of cData(); track $index; let idx = $index) {
        <div>
            @for(detail of item | keyvalue ; track $index) {
                <span class="flex text-[var(--mat-sys-on-surface)]">
                    <span class="basis-1/2">{{detail.key | camelCaseToWords | titlecase}}</span>
                    <app-editable-field 
                    class="text-[var(--mat-sys-primary-fixed)] basis-1/2"
                    [canEdit]="canEdit()"
                    [key]="detail.key"
                    [value]="detail.value"
                    (valueChange)="updateData(idx, $event)"></app-editable-field>
                </span>
            }
        </div>

    }
    </form>
}
@else {
    <form>
        <div class="flex flex-col">
            @for(detail of cData() | keyvalue; track $index) {
                <span class="flex">
                    <span class="text-[var(--mat-sys-on-surface)] basis-1/2">{{detail.key | camelCaseToWords | titlecase}}</span>
                    <app-editable-field 
                    class="text-[var(--mat-sys-primary-fixed)] basis-1/2"
                    [canEdit]="canEdit()"
                    [key]="detail.key"
                    [value]="detail.value" 
                    (valueChange)="updateData(null, $event)"></app-editable-field>
                </span>
            }
        </div>
    </form>
}