<div class="list">
@for (entry of getComputedEntries(); track entry.attribute) {
    <li class="item" (click)="openItem(entry)">
        <span class="item-text">{{entry.attribute}}:</span> 
        @if(tcService.isObject(entry.value)) {
            <span class="item-text">Wyświetl wszystkie dane</span>
        }
        @else {
            <span class="item-text">{{entry.value}}</span>
        }
    </li>
    @if(entry.open) {
        @for(value of getEntryValues(entry); track $index) {
            @if(tcService.isArray(value[1])) {
                @for(item of value; track $index) {
                    <span>{{item | separator}}</span>
                }
            }
            @else {
                <span>{{value | separator}}</span>
            }


        }
    }
}
@empty {
    <div>
        Nie znaleziono paragonu do wyświetlenia.
    </div>
}
</div>