.list {
    color: var(--one);
    background-color: var(--two);
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.button {
    font-weight:500;
    padding: .5em 0;
    background-color: var(--four);
    color: var(--one)
}