@if(value() | isArray) {
    <form class="flex flex-col gap-8">
    @for(item of value(); track $index; let idx = $index) {
        <div @popInOut>
            @for(detail of item | keyvalue ; track $index) {
                <span class="flex text-[var(--mat-sys-on-surface)]">
                    <span class="basis-1/2">{{detail.key | camelCaseToWords | titlecase}}</span>
                    <app-editable-field 
                    class="text-[var(--mat-sys-primary-fixed)] basis-1/2"
                    [entry]="{key: detail.key, value: detail.value}"
                    [canEdit]="canEdit()"
                    (isDataValidChange)="onDataValidChange()"
                    (entryChange)="onEntryChange(idx, $event)"></app-editable-field>
                </span>
            }
        </div>

    }
    </form>
}
@else {
    <form>
        <div class="flex flex-col">
            @for(detail of value() | keyvalue; track $index) {
                <span class="flex">
                    <span class="text-[var(--mat-sys-on-surface)] basis-1/2">{{detail.key | camelCaseToWords | titlecase}}</span>
                    <app-editable-field 
                    class="text-[var(--mat-sys-primary-fixed)] basis-1/2"
                    [entry]="{key: detail.key, value: detail.value}"
                    [canEdit]="canEdit()"
                    (isDataValidChange)="onDataValidChange()"
                    (entryChange)="onEntryChange(null, $event)"></app-editable-field>
                </span>
            }
        </div>
    </form>
}