@if(entry()?.value === null) {
    <div class="flex">
        <span 
        class="basis-1/2 text-[var(--mat-sys-on-surface)]">{{entry()?.key | camelCaseToWords | titlecase}}</span>
        <app-editable-field 
        class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
        (validChange)="updateItem($event)"
        [(entry)]="entry"></app-editable-field>
    </div>
}
@else if((entry()?.value | typeof) === 'object') {
    <div class="flex flex-col">
        <div class="flex">
            <span 
            class="basis-1/2 text-[var(--mat-sys-on-surface)]">{{entry()?.key | camelCaseToWords | titlecase}}
            </span>
            <div class="basis-1/2 flex gap-2 justify-between w-full">
                <span 
                class="text-[var(--mat-sys-primary-fixed)] cursor-pointer"
                (click)="toggleDetails()">Wyświetl szczegóły</span>
                @if((entry()?.value | isArray) && isToggledDetails()) {
                    <div 
                    (click)="addProduct()"
                    class="flex gap-2 cursor-pointer">
                        <span class="text-[var(--mat-sys-primary-fixed)]">Dodaj produktxd</span>
                        <mat-icon
                        style="color: var(--mat-sys-on-tertiary-fixed-variant);">
                        add</mat-icon>
                    </div>
                }
            </div>
        </div>
        @if(isToggledDetails()) {
            <app-list-item-details 
            (validChange)="updateItem($event)"
            [(value)]="entry">
            </app-list-item-details>
        }
    </div>
}
@else {
    <div class="flex">
        <span class="basis-1/2 text-[var(--mat-sys-on-surface)]">{{entry()?.key | camelCaseToWords | titlecase}}</span>
        <app-editable-field 
        class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
        (validChange)="updateItem($event)"
        [(entry)]="entry"
        ></app-editable-field>
    </div>
}