@if(entry()?.value === null) {
    <div class="flex">
        <span 
        class="                        
        md:text-md
        text-sm basis-1/2 text-[var(--mat-sys-on-surface)]">{{entry()?.key | camelCaseToWords | titlecase}}</span>
        <app-editable-field 
        class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
        (isDataValidChange)="onDataValidChange($event)"
        [canEdit]="canEdit()"
        [entry]="entry()"></app-editable-field>
    </div>
}
@else if((entry()?.value | typeof) === 'object') {
    <div class="flex flex-col">
        <div class="flex">
            <span 
            class="                        
            md:text-md
            text-sm basis-1/2 text-[var(--mat-sys-on-surface)]">{{entry()?.key | camelCaseToWords | titlecase}}
            </span>
            <div class="basis-1/2 flex gap-2 justify-between w-full items-center min-h-6">
                <span 
                class="
                hover:text-[var(--mat-sys-tertiary-fixed)]
                md:text-md
                text-sm text-[var(--mat-sys-primary-fixed)] cursor-pointer"
                (click)="toggleDetails()">Wyświetl szczegóły</span>
                @if((entry()?.value | isArray) && isToggledDetails()) {
                    <div 
                    @popInOut
                    (click)="addProduct()"
                    class="flex gap-2 cursor-pointer items-center">
                        <span  
                        class="
                        hover:text-[var(--mat-sys-tertiary-fixed)]
                        md:text-md md:inline
                        text-sm hidden text-[var(--mat-sys-primary-fixed)]">Dodaj produkt</span>
                        <mat-icon
                        style="color: var(--mat-sys-on-tertiary-fixed-variant);">add</mat-icon>
                    </div>
                }
            </div>
        </div>
        @defer(when isToggledDetails()) {
            @if(isToggledDetails()) {
                <app-list-item-details 
                @popInOut
                (isDataValidChange)="onDataValidChange($event)"
                (valueChange)="onEntryChange($event)"
                [canEdit]="canEdit()"
                [value]="entry()?.value">
                </app-list-item-details>
            }
        }
    </div>
}
@else {
    <div class="flex">
        <span class="
        md:text-md
        text-sm
        basis-1/2 text-[var(--mat-sys-on-surface)]">{{entry()?.key | camelCaseToWords | titlecase}}</span>
        <app-editable-field 
        class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
        (isDataValidChange)="onDataValidChange($event)"
        (entryChange)="onEntryChange($event)"
        [canEdit]="canEdit()"
        [entry]="entry()"
        ></app-editable-field>
    </div>
}