@import "tailwindcss";

:root {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.mat-icon-lg {
    transform: scale(2);
}
  
input:disabled,select:disabled,textarea:disabled {
    color: var(--mat-sys-primary-fixed) !important;
  }