@if(value() === null) {
    <div class="flex">
        <span 
        class="basis-1/2 text-[var(--mat-sys-on-surface)]">{{key() | camelCaseToWords | titlecase}}</span>
        <app-editable-field 
        class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
        (validChange)="updateItem($event)"
        (valueChange)="onValueChange($event)"
        [canEdit]="canEdit()"
        [key]="key()"
        [value]="''"></app-editable-field>
    </div>
}
@else if((value() | typeof) === 'object') {
    <div class="flex flex-col">
        <div class="flex">
            <span 
            class="basis-1/2 text-[var(--mat-sys-on-surface)]">{{key() | camelCaseToWords | titlecase}}</span>
            <span 
            class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
            (click)="toggleDetails()">Wyświetl szczegóły</span>
        </div>
        @if(isToggledDetails()) {
            <app-list-item-details 
            (validChange)="updateItem($event)"
            (valueChange)="onValueChange($event)"
            [canEdit]="canEdit()"
            [value]="value()">
            </app-list-item-details>
        }
    </div>
}
@else {
    <div class="flex">
        <span class="basis-1/2 text-[var(--mat-sys-on-surface)]">{{key() | camelCaseToWords | titlecase}}</span>
        <app-editable-field 
        class="basis-1/2 text-[var(--mat-sys-primary-fixed)]"
        (validChange)="updateItem($event)"
        (valueChange)="onValueChange($event)"
        [canEdit]="canEdit()"
        [key]="key()"
        [value]="value()"></app-editable-field>
    </div>
}