@if((value() | typeof) === 'object') {
    <div class="flex flex-col">
        <span>
            <span>{{key()}}:</span>
            <span (click)="toggleDetails()">Wyświetl szczegóły</span>
        </span>
        @if(isToggledDetails()) {
            <app-list-item-details 
            (validChange)="updateItemValid($event)"
            [data]="value()">
            </app-list-item-details>
        }
    </div>
}
@else {
    <span class="flex">
        <span>{{key() | titlecase}}:</span>
        <app-editable-field 
        (validChange)="updateItemValid($event)"
        [value]="value()"></app-editable-field>
    </span>
}