.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: max(44vh, 150px);
    border: .25em dashed var(--one)
}

.wrapper:-moz-drag-over {
    background-color: red;
}

.content-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5em;
}

.drag-drop {
    color: var(--four);
    user-select: none;
}

.select-file {
    user-select: none;
    color: var(--neutral);
    text-decoration: underline;
    text-decoration-thickness: .1em;
    text-underline-offset: .25em;
    cursor: pointer;
}

.error-msg {
    color: var(--three);
    font-weight: 500;
}

.file-upload {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

