<div 
    class="wrapper" 
    [dragoverBehavior]="{
        enter: 'one', 
        leave: 'two'
    }"
    (drop)="dropFile($event)"
>
    <input type="file" class="file-upload" (change)="selectFile($event)" appFileInput #fileUpload>
    <div class="content-text">
        <div class="info-msg">
            <a class="drag-drop">
                <ng-content select="[slot='drag-drop-placeholder']">
                </ng-content>
            </a>
            <a class="select-file" (click)="fileUpload.click()">
                <ng-content select="[slot='select-file-placeholder']">
                </ng-content>
            </a>
        </div>
        <span class="error-msg">
            {{error() || 'Wymagany format .jpg'}}
        </span>
    </div>
</div>