<form 
class="
md:min-w-50
min-w-30">
        <input
        type="text"
        matInput
        class="
        focus:outline-2
        text-sm w-full"
        type="text"
        (input)="onInput()"
        [errorStateMatcher]="matcher"
        [formControl]="form.controls.input">
        <span 
        [hidden]="!form.controls.input.hasError('maxlength')"
        class="text-[var(--mat-sys-on-error-container)]">
        Długość nie może przekroczyć <strong>50</strong> znaków</span>
</form>

  

